django
numpy
pandas
TA-lib
scikit-learn
scipy
websocket-client
requests
matplotlib
Brotli
django-webpack-loader
django-pandas
holoviews
dateparser
argcomplete
djangorestframework
django-filter
drf-spectacular
